<mat-nav-list class="sidenav-list">
  <div class="logo">
    <img src="./assets/logo.png" alt="Company Logo" />
  </div>
  <mat-divider></mat-divider>
  <h2 matSubheader class="mt-2">About</h2>

  <a mat-list-item routerLinkActive="list-item-active" routerLink="/home">
    <mat-icon>home</mat-icon>
    <span class="nav-link-text">Users</span>
  </a>
  <a mat-list-item routerLinkActive="list-item-active" routerLink="/dashboard">
    <mat-icon>account_balance_wallet</mat-icon>
    <span class="nav-link-text">Memberships</span>
  </a>
  <a mat-list-item routerLinkActive="list-item-active" routerLink="/Sessions">
    <mat-icon>schedule</mat-icon>
    <span class="nav-link-text">Sessions</span>
  </a>
  <a mat-list-item routerLinkActive="list-item-active" routerLink="/Courses">
    <mat-icon>book</mat-icon>
    <span class="nav-link-text">Courses</span>
  </a>
  <a mat-list-item routerLinkActive="list-item-active" routerLink="/Events">
    <mat-icon>event</mat-icon>
    <span class="nav-link-text">Events</span>
  </a>
</mat-nav-list>
