<div class="container-fluid page">
  <div class="d-flex page__box p-3 mt-2">Memberships</div>
  <div class="page__content shadow p-3 position-relative">
    <div class="page__content-data position-absolute text-center">
      <div class="card">
        <div class="card-header">
          Memberships
        </div>
        <div class="card-body">
          <div class="row">
            <div class="col-md-4">
              <div class="card">
                <div class="card-header">
                  Create Membership
                </div>
                <div class="card-body">
                  <form [formGroup]="MemberShipformgroup" (ngSubmit)="onSubmit()">
                    <div class="form-group">
                      <label for="type">Type</label>
                      <input type="text" formControlName="type" class="form-control" id="type" />
                    </div>
                    <div class="form-group">
                      <label for="startDate">Start Date</label>
                      <input type="text" formControlName="startDate" class="form-control" id="startDate" />
                    </div>
                    <div class="form-group">
                      <label for="endDate">End Date</label>
                      <input type="text" formControlName="endDate" class="form-control" id="endDate" />
                    </div>
                    <div class="form-group">
                      <label for="status">Status</label>
                      <input type="text" formControlName="status" class="form-control" id="status" />
                    </div>
                    <div class="form-group">
                      <label for="user">Select User</label>
                      <select formControlName="user" class="form-control" id="user">
                        <option *ngFor="let user of users" [value]="user.id">{{ user.nom }}</option>
                      </select>
                    </div>
                    <button class="btn btn-primary" type="submit">Create</button>
                  </form>
                </div>
              </div>
            </div>
            <div class="col-md-8">
              <table class="table table-striped">
                <thead>
                  <tr>
                    <th>UserName</th>
                    <th>Type</th>
                    <th>Start Date</th>
                    <th>End Date</th>
                    <th>Status</th>
                    <th>Created At</th>
                    <th>Updated At</th>
                    <th>Actions</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let membership of memberships">
                    <td>{{ membership.user.nom}}</td> <!-- Use the safe navigation operator -->
                    <td>{{ membership.type }}</td>
                    <td>{{ membership.startDate | date }}</td>
                    <td>{{ membership.endDate | date }}</td>
                    <td>{{ membership.status }}</td>
                    <td>{{ membership.createdAt | date }}</td>
                    <td>{{ membership.updatedAt | date }}</td>
                    <td>
                      <button (click)="fillForm(membership)" class="btn-update">Edit</button>
                      <button (click)="onDeleteMembership(membership.id)" class="btn-delete">Delete</button>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>